<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/header_and_footer.css">
  <link rel="stylesheet" href="/css/code-editor-style.css">
  <title>Редактор кода</title>
</head>
<body> 
  <script src="/js/code-script.js"></script>
  <script src="/js/cousre-editor-base.js"></script>

  <div class="wrapper">
 <%- include('blocks/header') -%>
    <main>

      <!-- свойства для блока, содержащего контент модального окна -->
      <%- include('blocks/log-in') -%>
      <!--  свойства для блока, содержащего контент модального окна -->
      
        <!-- модальный блок с настройками -->
      <div id="openSettings" class="modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="blocksettings"> 
              <a href="#close" title="Close" class="close">×</a>
              <p id="h1settings">Настройки</p>
              <div class="settingsnameproject">
              <span id="Projectnamesetting">Проект: <%= data.projectname %></span>
              <span id="Profilenamesetting">от: <%= data.author %></span>
              <span id="Descriptionsetting">Описание проекта: </span>
              </div>
              <!-- <form action="/sandbox/<%= data.id %>" method="post"> -->
              <!-- <input type="hidden" name="_method" value="PUT"> -->
              <form id="myform" action="/sandbox/<%= data.id %>" method="post">        
              <textarea id="description" type="text" placeholder="Введите текст" name="projectDescription" ><%= data.projectDescription %></textarea>
              <p id="autosave">Автосохранения</p>
              <div class="switchbox"><label class="switch" style="font-size: 0.7rem">
                <% if(data.autosave=="true") { %>
                <input type="checkbox" name="autosave" id="autosave" checked>
                <% } else { %>
                  <input type="checkbox" name="autosave" id="autosave">
                  <% } %>
                <span class="slider-round"></span>
              </label>
              </div>
              <p id="private">Приватный</p>
              <div class="switchbox"><label class="switch" style="font-size: 0.7rem">
              <% if(data.private=="true") { %>
              <input type="checkbox" name="private" id="private" checked>
              <% } else { %>
                <input type="checkbox" name="private" id="private">
                <% } %>
              <span class="slider-round"></span>
              </label>
              </div>
            </form> 
              <!-- PUT -->
               <p>
                <button form="myform" type="sybmit">Сохранить</button>
                <form method="POST"  action="/sandbox/<%= data.id %>/delete"> 
                 <button type="submit">Удалить</button>
                 </form>
               </p> 
              </div>
            </div>
          </div>

        </div>    
        <!-- модальный блок с настройками -->


     <div class="top">
       <div class="settings">
       <span id="Project">Проект: <%= data.projectname %></span>
       <span id="Username">от: <%= data.author %></span>
       </div>
       <div class="buttons">
        <button form="myform1" class="run1" type="submit" onclick="runCode()"><div id="run">Выполнить</div></button>  
        <button form="myform2" class="button1" type="submit" onclick="save()"><div class="button">Сохранить</div></button>
        <button class="button1" onclick="location.href='#openSettings'"><div class="button">Настройки</div></button>
       </div>
     </div>
 
      <div class="middle">
         <div class = "SQLScript">
                 <div class="elem1">
       <div class="sqlsquare1">
         <p>SQL Script</p>
       </div>
                   <button class = "clear1" onclick="eraseTheText('outputSQLScript')"><div class ="clear"><p>Очистить</p></div></button>
         </div>
 
     <div class="script">
       <textarea id='outputSQLScript' name="script">
       </textarea>
       <!-- <table border="1" width="370">
        <caption><b>Перепись населения</b></caption>
        <thead>
        <tr>
          <td><b>Год переписи</b></td>
          <td><b>Нас.</b></td>
          <td><b>%±</b></td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><b>1850</b></td>
          <td>2396</td>
          <td>—</td>
        </tr>
        </tbody>
        </table> -->
     </div>
 
       </div>
         <div class = "SQLQuery">
           <div class="elem2">
       <div class="sqlsquare2">
         <p>SQL Query</p>
       </div>
             <button class = "clear1" onclick="eraseTheText('outputSQLquery')"><div class ="clear"><p>Очистить</p></div></button>
       </div>
               <aside class="query">
       <!--  <form id="myform2" action="/sandbox/<%= data.id %>" method="post"> --> 
            <form id="myform1" action="/sandbox/<%= data.id %>" method="post">      
              <textarea id='outputSQLquery' name = "query">
              </textarea>
             <!-- <input type="text" id="secretvalue" value="1" name="secretvalue">-->
            </form>
          <!--  <input type="text" class="secretvalue" value="1" name="secretvalue">
          </form> --> 
       </aside>
         </div>
       </div>
      <hr id="secondline">
     <div class="output">
     <div class="panel">
         <nav>
           <button class="tablinks" onclick="opentab(event, 'dataaoutput')" id="defaultOpen">Data output</button>
           <button class="tablinks" onclick="opentab(event, 'datatables')">Data tables</button>
           <button class="tablinks" onclick="opentab(event, 'messages')">Messages</button>
         </nav>
      </div>
         
     <div id="dataaoutput" class="tabcontent">
      <% if(error == undefined) { %>
        <b>База данных Humans</b>
        <p><table border="1">
        <!-- <caption><b>База данных Humans</b></caption>-->
         <thead>
         <tr>
           <% if(select.id != undefined) { %>
           <td><b>id</b></td>
           <% } %>
           <% if(select.sex != undefined) { %>
           <td><b>sex</b></td>
           <% } %>
           <% if(select.name != undefined) { %>
           <td><b>name</b></td>
           <% } %>
           <% if(select.surname != undefined) { %>
           <td><b>surname</b></td>
           <% } %>
           <% if(select.age != undefined) { %>
           <td><b>age</b></td>
           <% } %>
         </tr>
         </thead>
         <tbody>
           <% for(var i=0; i < taskdatabase.length; i++) { %>
         <tr>
           <% if(select.id != undefined) { %>
           <td><b><%= taskdatabase[i].id %></b></td>
           <% } %>
           <% if(select.sex != undefined) { %>
           <td><b><%= taskdatabase[i].sex %></b></td>
           <% } %>
           <% if(select.name != undefined) { %>
           <td><b><%= taskdatabase[i].name %></b></td>
           <% } %>
           <% if(select.surname != undefined) { %>
           <td><b><%= taskdatabase[i].surname %></b></td>
           <% } %>
           <% if(select.age != undefined) { %>
           <td><b><%= taskdatabase[i].age %></b></td> 
           <% } %>
         </tr>
         <% } %>
         </tbody>
         </table></p>
         <% } %>
     </div>

     <div id="datatables" class="tabcontent">
      <b>База данных Humans</b>
        <p><table border="1">
        <!-- <caption><b>База данных Humans</b></caption>-->
         <thead>
         <tr>
           <td><b>id</b></td>
           <td><b>sex</b></td>
           <td><b>name</b></td>
           <td><b>surname</b></td>
           <td><b>age</b></td>
         </tr>
         </thead>
         <tbody>
           <% for(var i=0; i < rightdatabase.length; i++) { %>
         <tr>
           <td><b><%= rightdatabase[i].id %></b></td>
           <td><b><%= rightdatabase[i].sex %></b></td>
           <td><b><%= rightdatabase[i].name %></b></td>
           <td><b><%= rightdatabase[i].surname %></b></td>
           <td><b><%= rightdatabase[i].age %></b></td> 
         </tr>
         <% } %>
         </tbody>
         </table></p>
     </div>

     <div id="messages" class="tabcontent">
      <% if(error != undefined) { %>
        <p><b>ОШИБКА! Неправильно введен запрос</b></p>
      <% } %>
     </div>

     </div>
       </main>
    <%- include('blocks/footer') -%>
   </div>
   <script>
    // Get the element with id="defaultOpen" and click on it
   document.getElementById("defaultOpen").click();
     </script>
 </body> 
 </html>