<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/header_and_footer.css">
  <link rel="stylesheet" href="/css/course-style.css">
  <title>Тренажёр</title>
</head>
<body> 
  <script src="/js/code-script.js"></script>
  <div class="wrapper">
    <%- include('blocks/header') -%>
    <main>

        <!-- свойства для блока, содержащего контент модального окна -->
        <%- include('blocks/log-in') -%>
        <!--  свойства для блока, содержащего контент модального окна -->



      <div class="choicecourse">
        <span>all</span>
        <% for(var i=0; i < pages; i++) { %>
          <% if(data.id === i+1) { %>   
            <span id="currentId"><a href="/course/<%= courseid %>/<%= i+1 %>"><%= i+1 %></a></span>
          <% } else { %>
           <span> <a href="/course/<%= courseid %>/<%= i+1 %>"><%= i+1 %></a></span>
            <% } %>
          <% } %>
      </div>
      <div class="workpanel">
<form method="POST" action="/course/<%= courseid %>/<%= data.id %>">
      <div class ="SQL-panel">
   <div class="elem1">
   <div class="sqlsquare1">
     <p>SQL Script</p>
   </div>
     <div class="sqlsquare2">
     <p>SQL Query</p>
   </div>
     <div class="elem2">
     <button class ="clear" onclick="eraseTheText('outputSQLScript')">Очистить</button>
     <!-- <form method="POST" action="/course/<%= courseid %>/<%= data.id %>"> -->
     <button id="run" type="submit">Выполнить</button>
    <!-- </form> -->
     </div>
     </div>

        </div>
      <div class="SQL-container">
        
 <div class="script">
  
    <textarea id="outputSQLScript" name="codetext">

   </textarea>
  
 </div>
 </div>
</form>
      <div class= "bottompanel">
      <div class="output">
 <div class="panel"><nav>
     <a href="#" class="active">Data output</a>
     <a href="#">Data tables</a>
     <a href="#">Messages</a>
     </nav>
     </div>
     <% if(error != undefined) { %>
      <p><b>ОШИБКА! Неправильно введен запрос</b></p>
    <% } else { %>
   <p><table border="1">
    <caption><b>База данных Humans</b></caption>
    <thead>
    <tr>
      <% if(select.id != undefined) { %>
      <td><b>id</b></td>
      <% } %>
      <% if(select.sex != undefined) { %>
      <td><b>sex</b></td>
      <% } %>
      <% if(select.name != undefined) { %>
      <td><b>name</b></td>
      <% } %>
      <% if(select.surname != undefined) { %>
      <td><b>surname</b></td>
      <% } %>
      <% if(select.age != undefined) { %>
      <td><b>age</b></td>
      <% } %>
    </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < taskdatabase.length; i++) { %>
    <tr>
      <% if(select.id != undefined) { %>
      <td><b><%= taskdatabase[i].id %></b></td>
      <% } %>
      <% if(select.sex != undefined) { %>
      <td><b><%= taskdatabase[i].sex %></b></td>
      <% } %>
      <% if(select.name != undefined) { %>
      <td><b><%= taskdatabase[i].name %></b></td>
      <% } %>
      <% if(select.surname != undefined) { %>
      <td><b><%= taskdatabase[i].surname %></b></td>
      <% } %>
      <% if(select.age != undefined) { %>
      <td><b><%= taskdatabase[i].age %></b></td> 
      <% } %>
    </tr>
    <% } %>
    </tbody>
    </table></p>
    <% } %>
 </div>
        </div>
      </div>
      <div class="workpanel2">
         <div class = "elem3">
          <span><%= data.id %>. <%= data.taskName %></span>
          
        </div>
        
    <div class="task">
      <div class = "taskpanel">
        <span>Задание</span>    
      </div>
      <div class="tasktext">
        <% var newblock = data.taskDescription %>
        <%- include("blocks/" + newblock) -%>
       </div>    
    </div>
      <div class="answer">
            <div class="completed"><span>Задание выполнено!</span></div>
            <% if(data.id === pages) { %>
            <a href="/course/<%= courseid %>" class="continue">Дальше</a>
            <% } else { %>
              <a href="/course/<%= courseid %>/<%= data.id+1 %>" class="continue">Дальше</a>
            <% } %>
          </div>
 </div>
             </main>
   <%- include('blocks/footer') -%>
</div>
</body> 
</html>
