<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/header_and_footer.css">
  <link rel="stylesheet" href="/css/coursechoice-style.css">
  <title>Редактор кода</title>
</head>
<body> 
  <script src="/js/code-script.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
  <!-- <script>
$(function() {
   var people = [];

   $.getJSON('/jsons/projectdata.json', function(data) {
       $.each(data.courses, function(i, f) {
        var table="<p>" + f.coursename + "</p>" + "<p>" + f.coursedescription + "</p>";
        $(table).appendTo("#coursedata div");
     });
   });
});

</script> -->
  <div class="wrapper">
 <%- include('blocks/header') -%>
    <main>

      <!-- свойства для блока, содержащего контент модального окна -->
      <%- include('blocks/log-in') -%>
      <!--  свойства для блока, содержащего контент модального окна -->
      <h2>Все курсы</h2>
      <div id="coursedata">
          <% for(var i=0; i < data.length; i++) { %>
            <a class= "courselink" href="/course/<%= data[i].id %>">
             <div class="courseblock">         
               <p class="coursename"><%= data[i].coursename %></p>
               <p class="coursedescription"><%= data[i].courseDescription %></p>        
              </div>
            </a>
          <% } %>
      </div>
    </main>

    <%- include('blocks/footer') -%>
   </div>
 </body> 
 </html>     